{% extends "base/questionnaire.html" %}

{% block questions %}
    <!-- additional custom questions -->
    <div class="row question">
        <div class="col-md-8">
            On a scale of 1-10 (where 10 is the most engaged), please rate the button:
        </div>
        <div class="col-md-4">
            <select id="button-quality" name="button-quality">
                <option value="10">10 - Very good button</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5" SELECTED>5 - Moderately good button</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1 - Terrible button</option>
            </select>
        </div>
    </div>
{% endblock %}
